.navbar-brand,.nav-link {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #fff;          
  text-decoration: underline;
  transition: all 0.3s ease;  
}

.card-background {
  background-image: url("/public/assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
  filter: brightness(120%) saturate(0.7);
}

.card-background:hover {
  filter: brightness(85%) saturate(0.7); 
  cursor: pointer; 
}

.modal-dialog.visit-card-modal {
  max-width: 800px;
}

@media (max-width: 768px) {
  .modal-dialog.visit-card-modal {
    max-width: 95%;
  }
}

.visit-card-modal .modal-content {
  border-radius: 12px;
  background-color: #212529;
}

.visitcard-image-col {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitcard-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.visitcard-text p {
  margin-bottom: 0.4rem;
}

.visitcard-text hr {
  margin: 0.4rem 0;
  opacity: 0.5; 
}