body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "nunitosans";
  src: url(../public/assets/fonts/nunitosans.woff);
}

.navbar-brand,
.nav-link {
  font-weight: 400em;
  text-transform: uppercase;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #fff;          
  text-decoration: underline;
  transition: all 0.3s ease;  
}

.card-background {
  background-image: url("../public/assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.card-background:hover {
  filter: brightness(85%); /* assombrit la carte au survol */
  cursor: pointer; /* optionnel, montre que c'est interactif */
}

.social-icon {
  color: #ccc;               /* couleur de base */
  transition: color 0.3s ease; /* transition fluide */
}

.social-icon:hover {
  color: #fff;               /* couleur au survol */
  cursor: pointer;           /* optionnel */
}

/* Supprime l'espacement par défaut des listes */
.liens-utiles {
  padding: 0;
  margin: 0;
  list-style: none;        
  gap: 1rem;              /* espace horizontal entre les liens */
}

/* Supprime marges des li */
.liens-utiles li {
  margin: 0;
}

/* Style des liens */
.liens-utiles li a {
  color: #fff;            /* blanc par défaut */
  text-decoration: none;
  font-weight: normal;
}

/* Hover */
.liens-utiles li a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: #fff;
}
