@font-face {
  font-family: 'NunitoSans';
  src: url(./fonts/nunitosans.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NunitoSans', sans-serif;
  font-weight: 400px;
}

strong{
  font-weight: 600;
}

.langages{
  font-size: 1rem;
  font-weight: bold;
}

.primary {
  all: unset;                 
  display: block;
  height: 3px;
  width: 100%;
  background-color: #0d6efd;  
  margin: 1rem 0;
}

.hrtitle{
  width: 30%;
  height: 4px;
  margin: 0 auto;
}

.social-icon {
  color: #ccc;               
  transition: color 0.3s ease; 
}

.social-icon:hover {
  color: #fff;              
  cursor: pointer;           
}

.liens-utiles {
  padding: 0;
  margin: 0;
  list-style: none;        
  gap: 1rem;           
}

.liens-utiles li {
  margin: 0;
}

.liens-utiles li a {
  color: #fff;           
  text-decoration: none;
  font-weight: normal;
}

.liens-utiles li a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: #fff;
}

footer, footer * {
  font-family: 'NunitoSans', sans-serif;
}

footer h4 {
  font-size: 1.1rem; 
}

footer li {
  font-size: 0.9rem; /* ou la taille que tu veux */
}